body, p, table, thead, tr, td, th, tbody, h1, h2, h3, h4, h5, h6, i, b, span, div, ul, li, input, form, img, button {
    padding: 0;
    margin: 0;
}
li {
    list-style: none
}
i {
    font-style: normal
}
b {
    font-weight: 100
}
a{
    text-decoration: none;
}
a:hover{
    color: black;
}
html {
    font-family: "微软雅黑", arial, sans-serif;
    font-size: 12px;
}
.container{
    margin-right: auto;
    margin-left: auto;
}
.row{
    width: 100%;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
}
.row:after,.row:before{
    content: "";
    clear: both;
}
.container:after,container:before{
    content: "";
    clear: both;
}
@media only screen and (max-width:1024px){
    .container{
        width:95%;
        padding-right: 15px;
        padding-left: 15px;
    }
    .col-s-1{  width:8.33333333333% ;}
    .col-s-2{  width:16.6666666667% ;}
    .col-s-3{  width:25%;}
    .col-s-4{  width:33.3333333333% ;}
    .col-s-5{  width:41.6666666667% ;}
    .col-s-6{  width:50% ;}
    .col-s-7{  width:58.3333333333% ;}
    .col-s-8{  width:66.6666666667% ;}
    .col-s-9{  width:75% ;}
    .col-s-10{  width:83.3333333333% ;}
    .col-s-11{  width:91.6666666667% ;}
    .col-s-12{  width:100% ;}
}
[class*='col-s-']{
    float: left;
}
@media only screen and (max-width: 1380px){
    .container{
        width:95%;;
        padding-right: 15px;
        padding-left: 15px;
    }
    .col-m-1{  width:8.33333333333% ;}
    .col-m-2{  width:16.6666666667% ;}
    .col-m-3{  width:25%;}
    .col-m-4{  width:33.3333333333% ;}
    .col-m-5{  width:41.6666666667% ;}
    .col-m-6{  width:50% ;}
    .col-m-7{  width:58.3333333333% ;}
    .col-m-8{  width:66.6666666667% ;}
    .col-m-9{  width:75% ;}
    .col-m-10{  width:83.3333333333% ;}
    .col-m-11{  width:91.6666666667% ;}
    .col-m-12{  width:100% ;}
    [class*='col-m-']{
        float: left;
    }
}
@media only screen and (min-width: 1380px){
    .container{
        width: 95%;
        padding-right: 15px;
        padding-left: 15px;
    }
    .col-l-1{  width:8.33333333333% ;}
    .col-l-2{  width:16.6666666667% ;}
    .col-l-3{  width:25%;}
    .col-l-4{  width:33.3333333333% ;}
    .col-l-5{  width:41.6666666667% ;}
    .col-l-6{  width:50% ;}
    .col-l-7{  width:58.3333333333% ;}
    .col-l-8{  width:66.6666666667% ;}
    .col-l-9{  width:75% ;}
    .col-l-10{  width:83.3333333333% ;}
    .col-l-11{  width:91.6666666667% ;}
    .col-l-12{  width:100% ;}
    [class*='col-l-']{
        float: left;
    }
}
@media (max-width:1024px) {
    .hidden-s {
        display: none !important;
    }
}
@media (min-width: 1024px) and (max-width: 1380px) {
    .hidden-m {
        display: none !important;
    }
}
@media (min-width:1380px) and (max-width: 1980px) {
    .hidden-l {
        display: none !important;
    }
}
